.users-container {
    padding: 10px;
  
    .ant-table {
      border-radius: 8px;
      overflow: hidden;
    }
  
    .ant-btn {
      color: #595959;
      &:hover {
        color: #1890ff;
      }
    }
  
    .ant-btn-dangerous {
      color: #ff4d4f;
    }
  }
  .users-title{
    font-size: 18px;
    line-height: 21px;
    padding: 20px 0;
  }